body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-color: #ddd;
      font-family: 'Poppins';
}

/*Navigation links start here*/
nav {
      display: flex;
      justify-content: flex-end;
      padding: 10px 20px;
      background-color: #0e2e4f;
}

nav h3 {
      max-height: 50%;
      margin-right: auto;
      margin-left: 20px;
      color: #ddd;
}

nav h3:hover {
      cursor: pointer;
}

.navbar ul {
      display: flex;
      align-items: center;
      list-style-type: none;
      padding: 0;
      margin: 0;
}

.navbar li {
      margin-left: 10px;
}

.nav-links li:last-child {
      margin-left: 0;
}

/* .nav-links li:last-child {
      margin-right: 15px;
} */

.navbar a {
      padding: 5px 10px;
      text-decoration: none;
      color: #ddd;
}

.navbar a:hover {
      background-color: #4172a3;
      color: #eee;
      border-radius: 5px;
}

@media (max-width: 600px) {
      nav {
            flex-direction: column;
            align-items: flex-start;
            padding: 5px 5px;
      }

      .navbar ul,
      .navbar h3 {
            margin-top: 5px;
      }

      .navbar a {
            padding: 0 2px;
      }
}

/*Navigation links ends here*/

/* Main Content start here */
main {
      max-width: 100%;
      padding: 20px;
}

h1,
h2 {
      color: #0056b3;
      margin: 2.5em 0 10px 0;
}

p {
      text-align: justify;
      font-size: 16px;
}

/*Tables style starts here*/
.table-container {
      overflow-x: auto;
      max-width: 100%;
}

table {
      width: 100%;
      border-collapse: collapse;
      margin: 20px 0;
      background-color: #f9f9f9;
}

th,
td {
      border: 2px solid #ccc;
      text-align: center;
      padding: 10px;
}

tr:nth-child(even) {
      background-color: #81b3e8;
}

thead {
      background-color: #333;
      color: #fff;
}

table caption {
      color: #c54a4a;
}

/*Tables style ends here*/

/* Form styles starts here */
.form-container {
      max-width: 600px;
      margin: 30px auto;
      padding: 20px;
      background-color: #f9f9f9;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
      width: 95%;
      padding: 10px;
      margin-bottom: 20px;
      margin-right: 0px;
      border: 1px solid #ccc;
      border-radius: 5px;
      transition: border-color 0.3s ease;
}

input:focus {
      border-color: #66afe9;
      outline: none;
}

.form-btn {
      width: 99%;
      padding: 12px;
      border: none;
      border-radius: 5px;
      background-color: #007bff;
      color: #fff;
      font-size: 16px;
      transition: background-color 0.3s ease;
      cursor: pointer;
}

.form-btn:hover {
      background-color: #0056b3;
}

/* Form styles ends here */

/* Button styles starts here */
.buttons-btn {
      max-width: 600px;
      margin: 30px auto;
      padding: 20px;
      border-radius: 8px;
}

.buttons-btn button {
      width: 100%;
      padding: 20px 10px;
      border: none;
      border-radius: 5px;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin: 20px 15px;
      padding: 12px;
}

.subscribe-btn {
      background-color: #007bff;
}

.subscribe-btn:hover {
      background-color: #0056b3;
}

.learn-more-btn {
      background-color: #28a745;
}

.learn-more-btn:hover {
      background-color: #218838;
}

.contact-us-btn {
      background-color: #dc3545;
}

.contact-us-btn:hover {
      background-color: #c82333;
}

/* Button styles starts here */

/*Gallery styles start here*/
.gallery-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
}

.image-card {
      height: auto;
      background-color: #f2f2f2;
      border-radius: 5px;
      overflow: hidden;
      position: relative;
      /* transition: transform 0.3s ease; */
}

.image-card img {
      width: 200px;
      height: 200px;
      max-width: 100%;
      border-radius: 5px;
      object-fit: cover;
      margin: 5px 5px;
}

@media (max-width: 600px) {
      .image-card img {
            width: 100px;
            height: 100px;
            margin: 2px;
      }
}

.image-card:hover {
      transform: scale(1.15);
      margin: 5px;
      cursor: pointer;
}

/*Gallery styles ends here*/

/*Footer styles start here*/
.footer {
      background-color: #0e2e4f;
      color: #ccc;
      font-size: 12px;
      padding: 10px 20px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
}

.developer-info span a {
      padding: 0 15px;
      text-decoration: none;
      color: #ccc;
      font-size: 13px;
}

.developer-info span a:visited {
      color: #ccc;
}

.developer-info span a:hover {
      color: #007bff;
}

.footer-links {
      display: flex;
}

.footer-links a {
      margin: 5px 10px;
      font-size: 15px;
      color: #ccc;
      text-decoration: none;
      display: flex;
      justify-content: flex-end;
}

.footer-links a i {
      font-size: 15px;
}

@media (max-width: 600px) {
      footer {
            font-size: 10.5px;
      }
}

.footer-links a:hover {
      color: #007bff;
}
/*Footer styles start here*/